ul li {
	border-radius: 5px;
	text-align: center;
	padding: 10px 0 10px 0;
	margin:  10px 0 10px 0;
	background-color: #d9edf7;
}
ul li:hover{
	background-color: cyan;
}
ul li a{
	font-size: 16px;
}
ul {
    padding: 20px 0 0 0;
}
body{
	background-color: rgba(255,255,255,15);
}
.div_center_top{
	padding:45px 0 45px 0;
}
.div_center_top h1{
	color: #3F51B5;
	font-weight:bold;
	font-family: initial;
}
.div_center_mid{
	padding: 20px; border: 1px solid #95a5a9;border-radius: 5px;
}
.div_center_mid h3{
	text-align: center;
	margin-bottom:35px;
}
.div_center_mid h2{
	text-align: center;
	padding-bottom:15px;
	font-weight: bold;
	border-bottom: 1px solid #2196F3;
	color:#3F51B5;
}